
.git
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# generated packr files
*-packr.go

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

debug

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.idea/
*.iml

.vscode/
.project

build/
release/
scanning/

#gradle, gogradle and dependencies output
.gogradle/
.gradle/
.gotools/
vendor/

xl-cli.ipr
xl-cli.iws
xl-cli.sublime-project
xl-cli.sublime-workspace
